.advertise{
    background: #530fb9;
    border-radius: 20px;

    &_items{
        display: flex;
        align-items: center;
        padding: 40px 250px 20px 135px;

        &_content{

        }
    }
}