@mixin hoverAndClick{
    background: #D3D3D3;
   color: #9C4DF4;
}

@mixin btns{
    padding: 20px 32px;
    border: 1px solid #9C4DF4;
    border-radius: 5px;
    background-color: #9C4DF4;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #f6f5f7;
}


